@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=MuseoModerno:wght@900&display=swap');

body{
    background-color: #edf7ff;
}
h1,h3,h4{
    font-family: MuseoModerno, cursive;
    font-weight: bold;
}
h1{
    font-size: 117px;
    color: #0a2ff1;
}
h2{
    font-family: Asap, sans-serif;
    font-size:52px;
    font-weight: regular;
    color: #0a2ff1;
}
p{
    font-family: Asap,sans-serif;
    font-size:33px ;
    font-weight: regular, bold;
    color: #04146c;

}
h3{
    font-weight: bold;
    font-size: 48px;
    color: #0a2ff1;
}
ul, li{
    font-family: Asap;
    font-size: 33px;
}
h4{
   font-size: 198px; 
   color: #8a9af1;
}
