@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

body{
    background-color: black;
}

h1,h2,h3,h5,p, strong{
    font-family: Montserrat;
    text-align: center;
    font-weight: 800;
}

h3{
    color: #fff;
    font-size: 66px;
}

h2{
    background-color: #fff;
    font-size: 198px;
}
h1{
    color: #fff;
    font-size:217px ;
}
h5 strong{
    font-size: 60px;
}
h5{
    font-weight:600;
    background-color: #fff;
    font-size: 48px;
}
p{
   color:#fff;
   font-size: 58px;
   font-weight: 600;
}